In [5]:
import pandas as pd
import matplotlib as plt

In [57]:
df = pd.read_csv('Downloads/spring-26-al.csv')

In [59]:
df

,course_identifier,course_name,subject_code,subject_name,school_code,school_name,section,call_number,instructors,enrollment_count,enrollment_max,enrollment_status,days_times,mil_time_from,mil_time_to
0,AFASW4005,"Frantz Fanon: Disenchantment, Existential Self...",AFAS,NaN,SAS,NaN,001,15975,Vivaldi Jean-Marie,9.0,17.0,O,W 12:10PM-2:00PM,12:10,14:00
1,AFASG4004,Turn the TV Off: Black Performance Studies,AFAS,NaN,SAS,NaN,001,15974,Johanna F Almiron,17.0,17.0,F,R 12:10PM-2:00PM,12:10,14:00
2,AFASW3940,SENIOR THESIS SEMINAR,AFAS,NaN,SAS,NaN,001,11372,Kellie Jones,9.0,15.0,O,T 2:10PM-4:00PM,14:10,16:00
3,AFASC3901,INDEPENDENT STDY-UNDERGRADUATE,AFAS,NaN,SAS,NaN,001,10505,Frank Guridy,NaN,5.0,O,NaN,NaN,NaN
4,AFASC3901,INDEPENDENT STDY-UNDERGRADUATE,AFAS,NaN,SAS,NaN,002,10506,Brandi Summers,NaN,5.0,O,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6960,WMSTBC4325,EMBODIMENT AND BODILY DIFFERENCE,WMST,NaN,BCOL,NaN,001,610,Rebecca Jordan-Young,NaN,18.0,O,W 2:10PM-4:00PM,14:10,16:00
6961,WMSTW4317,ADVANCED TOPICS,WMST,NaN,BCOL,NaN,001,765,Neferti Tadiar,9.0,15.0,O,W 11:10AM-1:00PM,11:10,13:00
6962,WMSTW4310,CONTEM AMER JEWISH WOMEN'S LIT,WMST,NaN,BCOL,NaN,001,604,Agnieszka Legutko,4.0,20.0,O,T 4:10PM-6:00PM,16:10,18:00
6963,WMSTW4210,BLACK GEOGRAPHIES,WMST,NaN,BCOL,NaN,001,764,Marisa Solomon,16.0,15.0,F,R 2:10PM-4:00PM,14:10,16:00
6964,WMSTBC2140,Critical Approaches in Social and Cultural Theory,WMST,NaN,BCOL,NaN,001,758,Alexander Pittman,24.0,70.0,O,TR 10:10AM-11:25AM,10:10,11:25

In [69]:
grad_pattern = r'.{4}G'
remove = df['course_identifier'].str.contains(grad_pattern, regex=True, na=False)
df_undergrad = df[~remove]
df_undergrad

desired_codes = ['SEAS', 'FAS'] 

filtered_df = df[df['school_code'].isin(desired_codes)]
filtered_df

,course_identifier,course_name,subject_code,subject_name,school_code,school_name,section,call_number,instructors,enrollment_count,enrollment_max,enrollment_status,days_times,mil_time_from,mil_time_to
305,APMAE4008,Advanced and Applied Linear Algebra,APMA,NaN,SEAS,NaN,V01,16787,Yuan He,2.0,99.0,O,NaN,NaN,NaN
306,APMAE4008,Advanced and Applied Linear Algebra,APMA,NaN,SEAS,NaN,001,12917,Yuan He,41.0,52.0,O,TR 10:10AM-11:25AM,10:10,11:25
307,APMAE3102,APPLIED MATHEMATICS II: PDE'S,APMA,NaN,SEAS,NaN,001,12913,Michael K Tippett,45.0,45.0,F,TR 1:10PM-2:25PM,13:10,14:25
308,APMAE2101,INTRO TO APPLIED MATHEMATICS,APMA,NaN,SEAS,NaN,001,12911,Yuan He,137.0,152.0,O,TR 1:10PM-2:25PM,13:10,14:25
309,APMAE2001,MULTV. CALC. FOR ENGI & APP SCI,APMA,NaN,SEAS,NaN,R01,12899,NaN,17.0,30.0,O,F 2:40PM-3:30PM,14:40,15:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4510,MECEE3998,PROJECTS IN MECH ENGINEERING,MECE,NaN,SEAS,NaN,021,12470,Homayoon Beigi,NaN,5.0,O,NaN,NaN,NaN
4511,MECEE3998,PROJECTS IN MECH ENGINEERING,MECE,NaN,SEAS,NaN,022,12497,Chaoqun Dong,1.0,5.0,O,NaN,NaN,NaN
4512,MECEE3998,PROJECTS IN MECH ENGINEERING,MECE,NaN,SEAS,NaN,023,12498,Adrian Buganza Tepole,NaN,5.0,O,NaN,NaN,NaN
4513,EEMEE4601,DISCRETE CONTROL SYSTEMS,EEME,NaN,SEAS,NaN,V01,16657,Homayoon Beigi,2.0,99.0,O,NaN,NaN,NaN
4514,EEMEE4601,DISCRETE CONTROL SYSTEMS,EEME,NaN,SEAS,NaN,001,12106,Homayoon Beigi,25.0,50.0,O,W 4:10PM-6:40PM,16:10,18:40

In [71]:
from IPython.display import FileLink
filtered_df.to_csv('SEAS_FAS_only.csv', index=False)
FileLink('SEAS_FAS_only.csv')

C:\Users\emiik\SEAS_FAS_only.csv

In [15]:
prefixes = ('10', '11', '12', '13')
df['contains'] = df['start_time'].str.startswith(prefixes)
df

,course_identifier,department,school,days,start_time,end_time,contains
0,THTRV2201,THEB,Barnard College,TR,12:10,14:00,True
1,THTRV2026,THEB,Barnard College,MTWRF,19:00,23:00,False
2,THTRV2025,THEB,Barnard College,MTWRF,19:00,23:00,False
3,THTRV2024,THEB,Barnard College,MTWRF,19:00,23:00,False
4,THTRV3997,THEB,Barnard College,M,11:00,12:50,True
...,...,...,...,...,...,...,...
4351,BISTP8140,BIST,The Jlm Schl Of Public Health,W,13:00,15:50,True
4352,BISTP8139,BIST,The Jlm Schl Of Public Health,T,13:00,15:50,True
4353,BISTP8131,BIST,The Jlm Schl Of Public Health,WF,10:00,11:20,True
4354,BISTP8120,BIST,The Jlm Schl Of Public Health,MR,16:00,17:20,False
4355,BISTP6110,BIST,The Jlm Schl Of Public Health,R,17:30,20:20,False

In [17]:
department_summary = df.groupby('department')['contains'].agg(
        total_types='count',
        matching_types='sum'
    )
print(department_summary)

            total_types  matching_types
department
AFAM                 12               5
AFSB                 10               6
AHAR                 28              11
AMLP                  6               0
AMSB                 12               6
...                 ...             ...
THEB                 32              11
URSB                 19               7
URSP                 13               6
WRIT                 34               9
WSTB                 17               8

[136 rows x 2 columns]

In [19]:
department_summary['percentage_matching'] = (department_summary['matching_types'] / department_summary['total_types']) * 100

In [21]:
top_20_departments = department_summary.sort_values(by='total_types', ascending=False).head(20)
top_20_departments_2 = department_summary.nlargest(20, 'total_types')

In [23]:
print(top_20_departments)
print(top_20_departments_2)

            total_types  matching_types  percentage_matching
department
CORE                267             101            37.827715
SOCW                218              31            14.220183
INTA                207              97            46.859903
ARPL                140              71            50.714286
PHYS                130              37            28.461538
FINC                126              14            11.111111
CHEM                111              41            36.936937
EALC                109              62            56.880734
MELC                 93              46            49.462366
ERM                  85               1             1.176471
ECON                 85              31            36.470588
STAT                 80              34            42.500000
COMS                 80              34            42.500000
DROM                 72              16            22.222222
THEA                 69              22            31.884058
SPNB                 66              40            60.606061
PHED                 63              33            52.380952
SUMA                 61               0             0.000000
BIOS                 58              23            39.655172
PSYC                 56              25            44.642857
            total_types  matching_types  percentage_matching
department
CORE                267             101            37.827715
SOCW                218              31            14.220183
INTA                207              97            46.859903
ARPL                140              71            50.714286
PHYS                130              37            28.461538
FINC                126              14            11.111111
CHEM                111              41            36.936937
EALC                109              62            56.880734
MELC                 93              46            49.462366
ECON                 85              31            36.470588
ERM                  85               1             1.176471
COMS                 80              34            42.500000
STAT                 80              34            42.500000
DROM                 72              16            22.222222
THEA                 69              22            31.884058
SPNB                 66              40            60.606061
PHED                 63              33            52.380952
SUMA                 61               0             0.000000
BIOS                 58              23            39.655172
PSYC                 56              25            44.642857

In [25]:
df_fall = pd.read_csv('Downloads/all_classes-fall25.csv')
df_fall

,course_identifier,course_name,subject_code,subject_name,school_code,school_name,section,call_number,instructors,enrollment_count,enrollment_max,enrollment_status,days_times,mil_time_from,mil_time_to
0,CHEMW1500,GENERAL CHEMISTRY LABORATORY,CHEM,NaN,SAS,NaN,001,10482,Sarah J Hansen,24.0,46.0,O,T 1:10PM-4:50PM,13:10,16:50
1,CHEMW1500,GENERAL CHEMISTRY LABORATORY,CHEM,NaN,SAS,NaN,002,10483,Joseph C Ulichny,52.0,48.0,F,T 6:10PM-9:50PM,18:10,21:50
2,CHEMW1500,GENERAL CHEMISTRY LABORATORY,CHEM,NaN,SAS,NaN,003,10484,Joseph C Ulichny,51.0,48.0,F,W 1:10PM-4:50PM,13:10,16:50
3,CHEMW1500,GENERAL CHEMISTRY LABORATORY,CHEM,NaN,SAS,NaN,004,10485,Sarah J Hansen,22.0,46.0,O,R 1:10PM-4:50PM,13:10,16:50
4,CHEMW1411,GENERAL CHEMISTRY I - REC,CHEM,NaN,SAS,NaN,001,10521,Robert Beer,20.0,20.0,F,M 4:10PM-5:00PM,16:10,17:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8035,SUSCK5040,SUSTAINABILITY IN THE FACE OF NATURAL DISASTERS,SUSC,NaN,SPEC,NaN,001,12439,"Einat Lev, Chia-Ying Lee",9.0,20.0,O,R 4:10PM-6:00PM,16:10,18:00
8036,SUSCK5010,"CLIMATE SCI FOR DEC MAK: MOD, ANL & AP",SUSC,NaN,SPEC,NaN,001,12336,Yutian Wu,4.0,24.0,O,W 4:10PM-6:00PM,16:10,18:00
8037,SUSCK5999,CAPSTONE WORKSHOP IN SUSTAINABLE SCIENCE,SUSC,NaN,SPEC,NaN,001,12425,"Joseph Paul, Steven N Chillrud",13.0,15.0,O,T 6:10PM-8:00PM,18:10,20:00
8038,SUSCK5995,Internship In SUSC,SUSC,NaN,SPEC,NaN,D01,17079,Karen Acampado,1.0,40.0,O,NaN,NaN,NaN
8039,SUSCK5001,FUNDAMENTALS OF SUSTAINABILITY SCIENCE,SUSC,NaN,SPEC,NaN,001,12335,Robert Newton,13.0,30.0,O,R 6:10PM-8:00PM,18:10,20:00

In [27]:
df_spring = pd.read_csv('Downloads/all_classes-spring26.csv')
df_spring

,course_identifier,course_name,subject_code,subject_name,school_code,school_name,section,call_number,instructors,enrollment_count,enrollment_max,enrollment_status,days_times,mil_time_from,mil_time_to
0,LCRSG8450,PERSPECTVE ON LAT AMER STUDIES,LCRS,NaN,SAS,NaN,001,16449,Gustavo S Azenha,NaN,5.0,O,NaN,NaN,NaN
1,LCRSG6401,LIT/RES-LAT AMER/CARIB STUD II,LCRS,NaN,SAS,NaN,001,16450,Gustavo S Azenha,NaN,5.0,O,W 2:10PM-4:00PM,14:10,16:00
2,LAW,EXTERNSHIP: UNITED NATIONS,LAW,NaN,SLAW,NaN,001,10102,Akshaya Kumar,NaN,999.0,B,NaN,NaN,NaN
3,LAW,EXTERNSHIP: UNITED NATIONS,LAW,NaN,SLAW,NaN,002,10104,Akshaya Kumar,NaN,999.0,B,NaN,NaN,NaN
4,LAW,EXTERNSHIP: UNITED NATIONS,LAW,NaN,SLAW,NaN,003,10103,Jehanne E Henry,NaN,999.0,B,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6322,DVGOU7350,Advanced Economic Development for Internationa...,DVGO,NaN,SIPA,NaN,R02,15587,NaN,NaN,NaN,F,M 3:10PM-5:00PM,15:10,17:00
6323,DVGOU7350,Advanced Economic Development for Internationa...,DVGO,NaN,SIPA,NaN,001,10186,Eric A Verhoogen,29.0,50.0,O,T 1:10PM-3:00PM,13:10,15:00
6324,DVGOU7350,Advanced Economic Development for Internationa...,DVGO,NaN,SIPA,NaN,002,10187,Eric A Verhoogen,31.0,50.0,O,T 3:10PM-5:00PM,15:10,17:00
6325,DVGOU7325,"Inequality, Poverty, and Politics",DVGO,NaN,SIPA,NaN,001,15597,Cesar Zucco,13.0,25.0,O,T 1:10PM-3:00PM,13:10,15:00
6326,DVGOU7002,Political Development,DVGO,NaN,SIPA,NaN,001,10177,Olivier Nay,18.0,35.0,O,M 3:10PM-5:00PM,15:10,17:00

In [29]:
course_prefixes = ['MATH', 'POLS', 'ECON', 'PSYC', 'ENGL','HIST']
filtered_df_fall = df_fall[df_fall.course_identifier.str.startswith(tuple(course_prefixes))]
filtered_df_fall['course_identifier']

1214     ECONW3413
1215     ECONW3412
1216     ECONW3412
1217     ECONW3412
1219     ECONG9016
           ...
7150    HISTBC2695
7151    HISTBC2695
7152    HISTBC2549
7153    HISTBC2413
7154    HISTBC1062
Name: course_identifier, Length: 673, dtype: object

In [31]:
filtered_df_fall.to_csv('filtered_fall_classes.csv', index=False)

In [33]:
course_prefixes = ['MATH', 'POLS', 'ECON', 'PSYC', 'ENGL']
filtered_df_spring = df_spring[df_spring.course_identifier.str.startswith(tuple(course_prefixes))]
filtered_df_spring
filtered_df_spring.to_csv('filtered_spring_classes.csv', index=False)

In [45]:
# analysis of full or over enrolled classes
df_full_spring26 = pd.read_csv('Downloads/spring-26-al.csv')
df_full_spring26

filtered_df_fullspring26 = df_full_spring26[df_full_spring26.enrollment_status.str.startswith(tuple('F'))]
filtered_df_fullspring26

,course_identifier,course_name,subject_code,subject_name,school_code,school_name,section,call_number,instructors,enrollment_count,enrollment_max,enrollment_status,days_times,mil_time_from,mil_time_to
1,AFASG4004,Turn the TV Off: Black Performance Studies,AFAS,NaN,SAS,NaN,001,15974,Johanna F Almiron,17.0,17.0,F,R 12:10PM-2:00PM,12:10,14:00
9,AFASC3011,Spirit of Justice,AFAS,NaN,SAS,NaN,001,17123,Nyle Fort,18.0,18.0,F,M 10:10AM-12:00PM,10:10,12:00
10,AFASW3004,Introduction to Black Geographies,AFAS,NaN,SAS,NaN,001,10496,Brandi Summers,15.0,15.0,F,W 2:10PM-4:00PM,14:10,16:00
12,AFASW1003,Blackness and Frenchness: A Radical Genealogy,AFAS,NaN,SAS,NaN,001,10536,Veronique Charles,18.0,18.0,F,M 12:10PM-2:00PM,12:10,14:00
23,AFASG4080,TOPICS IN THE BLACK EXPERIENCE,AFAS,NaN,SAS,NaN,005,13264,Erica Hunt,1.0,1.0,F,R 4:10PM-6:00PM,16:10,18:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6946,WRITW1100,BEGINNING FICTION WORKSHOP,WRIT,NaN,SART,NaN,005,12807,Haley Garvin,15.0,15.0,F,W 2:10PM-4:00PM,14:10,16:00
6953,WMSTBC3138,AFFECT AND ACTIVISM,WMST,NaN,BCOL,NaN,001,761,Manijeh Moradian,16.0,16.0,F,T 2:10PM-4:00PM,14:10,16:00
6958,WMSTV4905,Labor and Life: Critiques of Capitalism,WMST,NaN,BCOL,NaN,001,767,Neferti Tadiar,16.0,16.0,F,R 12:10PM-2:00PM,12:10,14:00
6959,WMSTW4330,"SWANA Diasporas: Culture, Politics and Identit...",WMST,NaN,BCOL,NaN,001,766,Manijeh Moradian,14.0,14.0,F,R 10:10AM-12:00PM,10:10,12:00
6963,WMSTW4210,BLACK GEOGRAPHIES,WMST,NaN,BCOL,NaN,001,764,Marisa Solomon,16.0,15.0,F,R 2:10PM-4:00PM,14:10,16:00

In [51]:
time_counts = filtered_df_fullspring26['mil_time_from'].value_counts().reset_index()
percentages = filtered_df_fullspring26['mil_time_from'].value_counts(normalize=True) * 100
time_counts.columns = ['StartTime', 'Frequency']
percentages.columns = ['StartTime', 'Percentage']
print(time_counts)

   StartTime  Frequency
0      16:10        190
1      10:10        161
2      13:10        124
3      14:10        113
4      12:10         74
5      09:00         73
6      14:40         73
7      18:10         70
8      11:40         63
9      10:00         60
10     08:40         42
11     15:10         39
12     17:10         34
13     14:20         31
14     17:40         30
15     11:00         25
16     14:00         25
17     08:10         23
18     18:20         23
19     18:00         20
20     08:00         16
21     19:10         15
22     13:00         13
23     20:10         11
24     10:50         10
25     11:10          9
26     19:00          7
27     20:30          5
28     19:40          5
29     15:00          4
30     19:30          4
31     17:00          4
32     12:00          4
33     13:20          4
34     09:10          2
35     10:30          2
36     16:00          2
37     09:30          2
38     08:50          2
39     15:45          2
40     18:30          2
41     14:50          1
42     09:05          1
43     12:30          1
44     20:00          1
45     13:30          1
46     17:45          1
47     19:35          1
48     09:40          1
49     10:25          1
50     10:15          1
51     08:15          1
52     18:50          1
53     12:15          1
54     16:30          1
55     08:30          1
56     11:30          1
57     11:50          1
mil_time_from
16:10    13.240418
10:10    11.219512
13:10     8.641115
14:10     7.874564
12:10     5.156794
09:00     5.087108
14:40     5.087108
18:10     4.878049
11:40     4.390244
10:00     4.181185
08:40     2.926829
15:10     2.717770
17:10     2.369338
14:20     2.160279
17:40     2.090592
11:00     1.742160
14:00     1.742160
08:10     1.602787
18:20     1.602787
18:00     1.393728
08:00     1.114983
19:10     1.045296
13:00     0.905923
20:10     0.766551
10:50     0.696864
11:10     0.627178
19:00     0.487805
20:30     0.348432
19:40     0.348432
15:00     0.278746
19:30     0.278746
17:00     0.278746
12:00     0.278746
13:20     0.278746
09:10     0.139373
10:30     0.139373
16:00     0.139373
09:30     0.139373
08:50     0.139373
15:45     0.139373
18:30     0.139373
14:50     0.069686
09:05     0.069686
12:30     0.069686
20:00     0.069686
13:30     0.069686
17:45     0.069686
19:35     0.069686
09:40     0.069686
10:25     0.069686
10:15     0.069686
08:15     0.069686
18:50     0.069686
12:15     0.069686
16:30     0.069686
08:30     0.069686
11:30     0.069686
11:50     0.069686
Name: proportion, dtype: float64

In [55]:
import datetime as dt
time_buckets = ['8 am - 10 am', '10 am - 12 pm', '12 pm - 2 pm', '2 pm - 4 pm', '4 pm - 6 pm', '6 pm - 8 pm', '8 pm - 10 pm']
filtered_df_fullspring26['start_time'] = pd.to_datetime(filtered_df_fullspring26['mil_time_from'], format='%H:%M').dt.time
bins = [
    dt.time(0, 0),   # 00:00
    dt.time(0, 2),   # 02:00
    dt.time(8, 0),   # 08:00
    dt.time(10, 0),  # 10:00
    dt.time(14, 0),  # 14:00 (2 PM)
    dt.time(16, 0),  # 16:00 (4 PM)
    dt.time(22, 0),  # 22:00 (10 PM)
    dt.time(23, 59, 59) 
]
# creating a column that categorizes the start times as the sole hour value
filtered_df_fullspring26['start_hour'] = pd.to_datetime(filtered_df_fullspring26['mil_time_from'], format='%H:%M').dt.hour
hour_bins = [8, 10, 12, 14, 16, 18, 20, 22]
hour_labels = ['8 am - 10 am', '10 am - 12 pm', '12 pm - 2 pm', '2 pm - 4 pm', '4 pm - 6 pm', '6 pm - 8 pm', '8 pm - 10 pm']
filtered_df_fullspring26['time_bucket'] = pd.cut(filtered_df_fullspring26['start_hour'], bins=hour_bins, labels=hour_labels, right=False, include_lowest=True)

percentages = filtered_df_fullspring26['time_bucket'].value_counts(normalize=True) * 100
print(percentages)

time_bucket
10 am - 12 pm    23.275261
2 pm - 4 pm      20.069686
4 pm - 6 pm      18.257840
12 pm - 2 pm     15.470383
8 am - 10 am     11.428571
6 pm - 8 pm      10.313589
8 pm - 10 pm      1.184669
Name: proportion, dtype: float64

C:\Users\emiik\AppData\Local\Temp\ipykernel_29048\1586038790.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df_fullspring26['start_time'] = pd.to_datetime(filtered_df_fullspring26['mil_time_from'], format='%H:%M').dt.time
C:\Users\emiik\AppData\Local\Temp\ipykernel_29048\1586038790.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df_fullspring26['start_hour'] = pd.to_datetime(filtered_df_fullspring26['mil_time_from'], format='%H:%M').dt.hour
C:\Users\emiik\AppData\Local\Temp\ipykernel_29048\1586038790.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df_fullspring26['time_bucket'] = pd.cut(filtered_df_fullspring26['start_hour'], bins=hour_bins, labels=hour_labels, right=False, include_lowest=True)